.background-image{
    --background: url(../../../assets/images/background.jpg) 0 0/100% 100% no-repeat;
    background-size: cover; 
}
// cambiar color de letras
.text-color{
    color: rgb(0, 0, 0);
}
.text-color2{
    color: rgb(3, 30, 90);
}